@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@font-face {
  font-family: "inGlobal";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/inGlobalRegular/inGlobalRegular.eot");
  src:url("/fonts/inGlobalRegular/inGlobalRegular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/inGlobalRegular/inGlobalRegular.ttf") format("truetype"),
      url("/fonts/inGlobalRegular/inGlobalRegular.woff") format("woff"); }

@font-face {
  font-family: "inGlobal";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/inGlobalBold/inGlobalBold.eot");
  src:url("/fonts/inGlobalBold/inGlobalBold.eot?#iefix") format("embedded-opentype"),
      url("/fonts/inGlobalBold/inGlobalBold.ttf") format("truetype"),
      url("/fonts/inGlobalBold/inGlobalBold.woff") format("woff"); }

@font-face {
  font-family: "inGlobal";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/inGlobalItalic/inGlobalItalic.eot");
  src:url("/fonts/inGlobalItalic/inGlobalItalic.eot?#iefix") format("embedded-opentype"),
      url("/fonts/inGlobalItalic/inGlobalItalic.ttf") format("truetype"),
      url("/fonts/inGlobalItalic/inGlobalItalic.woff") format("woff"); }

@font-face {
  font-family: "inGlobal";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/inGlobalBoldItalic/inGlobalBoldItalic.eot");
  src:url("/fonts/inGlobalBoldItalic/inGlobalBoldItalic.eot?#iefix") format("embedded-opentype"),
      url("/fonts/inGlobalBoldItalic/inGlobalBoldItalic.ttf") format("truetype"),
      url("/fonts/inGlobalBoldItalic/inGlobalBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "MuseoMedium";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/MuseoMedium/MuseoMedium.eot");
  src:url("/fonts/MuseoMedium/MuseoMedium.eot?#iefix") format("embedded-opentype"),
      url("/fonts/MuseoMedium/MuseoMedium.ttf") format("truetype"),
      url("/fonts/MuseoMedium/MuseoMedium.woff") format("woff");
}

@font-face{
  font-family:'FontAwesome';
  src:url('/fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
  src:url('/fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
      url('/fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
      url('/fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
      url('/fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
      url('/fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal
}

.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-bars:before{content:"\f0c9";}
.fa-window-close:before{content: "\f00d";}
.fa-map-marker:before{content:"\f041"}
.fa-vk:before{content:"\f189"}
.fa-instagram:before{content:"\f16d";}
.fa-youtube-play:before{content:"\f16a";}
.fa-phone:before{content:"\f095";}
.fa-envelope:before{content:"\f0e0";}
.fa-globe:before{content:"\f0ac";}