.trails {

	padding: 7px 15px 61px;

}



.trails__map-wrap {

	text-align: left;

	margin: 20px 0 0;

}



.trails__map-controls {

	position: relative;

	z-index: 10;

	background: #fff;

}



.trails__map-block {

	display: block;

	overflow: hidden;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

}



.trails__map-title {

	padding: 10px 20px 0;

	font-size: 18px;

	font-family: 'MuseoMedium';

	color: #00295c;

	clear: both;

}



.trails__map-text {

	color: #b9d9ff;

	font-size: 16px;

	font-family: 'MuseoMedium';

	line-height: 1.5;

}



.trails__map-wrap .tab-btn-wrap {

	padding: 0 20px 12px;

}



.trails__map-wrap a:hover,

.trails__map-wrap button:hover{

	cursor: pointer;

	text-decoration: none;

}



.tab-btn {

	display: inline-block;

	vertical-align: middle;

	margin-right: 10px;

	padding-left: 18px;

	position: relative;

	text-decoration: none;

	color: #00295c;

	font-size: 15px;

	font-family: "inGlobal";

	font-weight: normal;

	letter-spacing: 0.5px;

}



.trails__map-btn {

	display: inline-block;

	float: left;

	position: relative;

	margin-right: 12px;

	cursor: pointer;

}



.tab-btn .trail-color {

	display: block;

	width: 14px;

	height: 14px;

	position: absolute;

	z-index: 1;

	top: 50%;

	margin-top: -8px;

	left: 0;

	-webkit-border-radius: 100%;

	-moz-border-radius: 100%;

	border-radius: 100%;

	border: 1px solid #fff;

}



.trails__map-btn .trail-color {

	display: block;

	position: relative;

	width: 14px;

	height: 14px;

	-webkit-border-radius: 100%;

	-moz-border-radius: 100%;

	border-radius: 100%;

}



.trail-kids {background: #8be1cc;}

.trail-green {background: #97d339;}

.trail-yellow {background: #ffc600;}

.trail-violet {background: #db50d0;}

.trail-blue {background: #2384ff;}

.trail-red {background: #ff1717;}

.trail-black {background: #222;}

.trail-white {background: #fff;}



.trail-trampoline:before {

	content: '';

	position: absolute;

	z-index: 1;

	width: 8px;

	height: 8px;

	margin: -4px 0 0 -4px;

	top: 50%;

	left: 50%;

	-webkit-border-radius: 100%;

	-moz-border-radius: 100%;

	border-radius: 100%;

	background: #fff;

}



.tab-btn.active .trail-color:after,

.trails__map-calculate-item.active .trail-color:after,

.trails__map-pakages-item.active .trail-color:after {

	content: '';

	position: absolute;

	z-index: -1;

	width: 18px;

	height: 18px;

	margin: -9px 0 0 -9px;

	top: 50%;

	left: 50%;

	-webkit-border-radius: 100%;

	-moz-border-radius: 100%;

	border-radius: 100%;

	border: 1px solid #93abcb;

	-webkit-box-shadow: 0 1px 3px rgba(42, 90, 153, 0.82);

	box-shadow: 0 1px 3px rgba(42, 90, 153, 0.82);

}



.trails__map-btn.active .trail-color:after{

	content: ' \f00c';

	font-family: FontAwesome;

	color: #fff;

	font-size: 9px;

	line-height: 18px;

	padding-left: 1px;

	text-align: center;

	position: absolute;

	z-index: 2;

	width: 20px;

	height: 20px;

	margin: -10px 0 0 -10px;

	top: 50%;

	left: 50%;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

	border-radius: 10px;

	border: 1px solid #a5b9d7;

	-webkit-box-shadow: 0 1px 0 #a5b9d7;

	box-shadow: 0 1px 0 #a5b9d7;

}



.tab-item {display: none;}



.tab-item.active {display: block;}



.trails__map {

	display: block;

	position: relative;

	border-top: 1px solid #87b81b;

	/*padding-bottom: 70px;

	background: #D0EE58;*/

}



.trails__map-item {

	position: relative;

	margin-top: -18px;

	z-index: 5;

}



.trails__map-layout {

	display: block;

	width: 100%;

	position: relative;

	z-index: 5;

}



.trails__map-details {

	display: block;

	position: absolute;

	z-index: 10;

	bottom: 17px;

	left: 16px;

	max-width: 202px;

	-webkit-box-shadow: 0 1px 3px rgba(4, 4, 4, 0.29);

	box-shadow: 0 1px 3px rgba(4, 4, 4, 0.29);

	padding: 13px 10px 11px 15px;

	color: #00295c;

	font-size: 15px;

	background: #fff;

	font-family: 'MuseoMedium';

	line-height: 1.5;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	border-radius: 5px;

}



.trails__map-details p {

	margin: 0;

}



.trails__map-cost-title {

	color: #00295c;

	font-size: 18px;

	margin: 5px 0 0;

}



.trails__map-cost {

	color: #4072b2;

	font-size: 14px;

}

.trails__map-cost p{

	line-height: 1.6;

}



.trails__map-cost .price {color: #02b624;}



.trails__map-submit {

	position: absolute;

	z-index: 10;

	bottom: 15px;

	right: 15px;

	color: #fff;

	text-align: center;

	font-family: "inGlobal";

	font-weight: bold;

	-webkit-box-shadow: 0px 0 0 3px #fff, inset 0px -2px 0px 0px rgba(255, 54, 0, 0.004);

  box-shadow: 0px 0 0 3px #fff, inset 0px -2px 0px 0px rgba(255, 54, 0, 0.004);

}



.trails__map-discont-title {

	display: block;

	color: #78b5ff;

	font-size: 20px;

	font-family: 'MuseoMedium';

	margin: 7px 0 16px;

	line-height: 1.5;

}



.trails__map-calculate {

	display: block;

	overflow: hidden;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	background: #fff;

	padding: 10px 15px;

}



.trails__map-calculate-title {

	display: inline-block;

	float: left;

	width: 100%;

	font-size: 17px;

	color: #002049;

	font-family: 'MuseoMedium';

	line-height: 32px;

}



.total_select .trails__map-calculate-title {line-height: 20px;}



.trails__map-calculate-row,

.trails__map-pakages,

.trails__map-attraction,

.trails__map-calculate-total{

	display: inline-block;

	width: 100%;

	float: left;

	margin: 8px 0 14px;

	padding-left: 3px;

	clear: both;

}



.trails__map-pakages-item {

	display: inline-block;

	vertical-align: top;

	height: 20px;

	white-space: nowrap;

	margin-right: 20px;

	line-height: 20px;

	color: #002a5d;

	text-decoration: none;

}



.attraction_info{

	display: inline-block;

	font-family: FontAwesome;

	font-size: 14px;

	color: #888;

	text-align: center;

	display: inline-block;

	float: right;

	width: 12px;

	height: 12px;

	margin-left: 10px;

	z-index: 2;

}



.attraction_info:hover{

	color: #000;

}



.trails__map-attraction-item {

	display: inline-block;

	float: left;

	text-align: left;

	margin-right: 20px;

	padding: 3px;

	border-radius: 8px;

	border: 1px solid transparent;

	color: #002a5d;

	text-decoration: none;

	line-height: 12px;

}



.trails__map-attraction-item:before {

	content: '\f067';

	font-family: FontAwesome;

	font-size: 14px;

	vertical-align: middle;

	color: #a5b9d7;

	text-align: center;

	display: inline-block;

	float: left;

	width: 12px;

	height: 12px;

	margin-right: 8px;

	z-index: 2;

	line-height: 12px;

}



.trails__map-attraction-item.active:before {

	content: '\f00c';

	color: #0b2;

}



.trails__map-attraction-item.active{

	border: 1px solid #a5b9d7;

	text-decoration: none;

}



.trails__map-attraction-item .trail-color {

	position: relative;

	top: auto;

	margin: -2px 0 0 -12px;

	display: inline-block;

	vertical-align: middle;

	left: auto;

}



.trails__map-pakages-item:hover,

.trails__map-pakages-item:focus,

.trails__map-pakages-item:active,

.trails__map-attraction-item:active,

.trails__map-attraction-item:hover,

.trails__map-attraction-item:focus{text-decoration: none;}



.trails__map-pakages-item .trail-color {

	position: relative;

	top: auto;

	margin: -2px 0 0 -12px;

	display: inline-block;

	vertical-align: middle;

	left: auto;

}



.trails__map-pakages-item .trail-color:first-child {margin: -2px 0 0 0;}



.trails__map-calculate-summup-title {

	color: #4072b2;

	font-size: 20px;

	margin: 0 0 5px;

}



.trails__map-calculate-summup-item .value {

	display: block;

	font-size: 28px;

	color: #0b2;

	line-height: 1;

}



.trails__map-calculate-total {

	padding: 18px 0;

	border-top: 1px dashed #e6f3fb;

	border-bottom: 1px dashed #e6f3fb;

}



.trails__map-calculate-total .total_select{

	font-size: 17px;

	line-height: 20px;

	color: #024;

	margin-bottom: 12px;

}



.trails__map-calculate-total .value {color: #0b2;}



.trails__map-pakages-item.active{color: #0b2;}



.colors_pack {

	display: table;

	height: 18px;

	margin-right: 5px;

	float: left;

	padding: 2px 2px 2px 10px;

	border: 1px solid #fff;

	box-shadow: none;

	border-radius: 10px;

	box-sizing: border-box;

}



.trails__map-pakages-item.active .colors_pack,

.trails__map-attraction-item.active .colors_pack{

	display: table;

	height: 18px;

	margin-right: 5px;

	float: left;

	padding: 2px 2px 2px 10px;

	border: 1px solid #a5b9d7;

	box-shadow: 0 1px 0px #a5b9d7;

	border-radius: 10px;

	box-sizing: border-box;

}



.colors_pack span {

	display: inline-block;

	float: left;

	width: 14px;

	height: 14px;

	margin-left: -8px;

	-webkit-border-radius: 100%;

	-moz-border-radius: 100%;

	border-radius: 100%;

	border: 1px solid #fff;

	box-sizing: border-box;

}



.colors_pack  span.trail_add:before{

	content: '';

	display: block;

	width: 8px;

	height: 8px;

	margin: 2px;

	border-radius: 100%;

	background-color: #fff;

}



.trails__map-calculate-summup-item{

	display: inline-block;

	width: 100%;

	float: left;

	font-family: 'MuseoMedium';

	clear: both;

}



#calc_summ_1, #calc_summ_2{display: none;}



.total_summ_selector{

	display: inline-block;

	float: left;

	width: 100%;

	margin: 8px 0;

	position: relative;

	line-height: 32px;

	color: #025;

	clear: both;

	vertical-align: bottom;

}



.total_summ_selector input{

	display: inline-block;

	float: left;

	width: 20px;

	height: 32px;

	margin-right: 12px;

	padding: 6px 0;

}



.trails__price, .trails__price-weekend{

	display: inline-block;

	float: right;

	margin: 0 8px;

}



.trails__price-rub{

	display: inline-block;

	float: right;

	text-transform: uppercase;

	letter-spacing: .5px;

}



.trails__map-calculate .colored_btn{

	float: right;

	margin-bottom: 8px;

}



.trails__map-calculate .colored_btn:before, #orderform .colored_btn:before{

	display: inline;

	text-align: left;

	float: left;

	margin-right: 12px;

	columns: #fff;

	font-family: FontAwesome;

}



.trails__map-calculate .colored_btn:before{content: '\f291';}



/* Форма - тинькофф */



#orderform .colored_btn:before{content: '\f09d';}



.description_line{

	display: inline-block;

	float: left;

	width: 100%;

	clear: both;

	margin-bottom: 12px;

}



#orderform .inp_amount_summ, #orderform .inp_descr{

	display: inline;

	float: left;

	margin: 0;

	width: 60px;

	height: auto;

	background-color: transparent;

	border: none;

	-webkit-border-radius: 0;

	border-radius: 0;

	padding: 0;

	outline: none;

	font-family: "inGlobal", sans-serif;

	color: #0b2;

	line-height: 32px;

	word-break: break-word;

	resize: none

}



#orderform .inp_descr{

	width: 100%;

	clear: both;

	line-height: 20px;

	text-align: left;

}



#orderform .inp_amount_summ{

	text-align: center;

}



#orderform .description_summ_line:after{

	content: ' руб.';

	display: inline;

	float: left;

	margin: 0;

	font-family: "inGlobal";

	font-weight: normal;

	color: #025;

	line-height: 32px;

	word-break: break-word;

}



#orderform h4{

	display: inline-block;

	width: 100%;

}



#orderform .trails__map-calculate-title{

	display: inline-block;

	width: auto;

}