
/*Фикс длинных названий в меню шапки. Не влазили*/
.topmenu li a 
	white-space: nowrap
.topmenu ul 
	width: auto
// 


/*Выход кнопки за блок */
.direction 
	height: auto
	min-height: 269px
.direction_price
	margin-bottom: 11px
	margin-top: 11px
.btn_more
	margin-top: 0px
// 

/*Создание перехода между секциями*/
.sect_rope-park_inner 
	padding-bottom: 150px
.sect_rope-park
	background: url(../img/sect_rope-park_bg.png)
	background-repeat: no-repeat
	background-position: top center


.top_action-to-call
	vertical-align: middle

footer

	@media only screen and (max-width: 1200px)
		.logo
			position: absolute
			top: 5px
			left: 10px
			margin: 0px
		.top_action-to-call
			position: absolute
			top: 5px
			right: 30px
			margin: 0px
			padding: 0px

// Граница футера
.tl_white
	border-top: 1px solid #e3e3e3



@media only screen and (max-width: 1200px)
	.promo_slide_caption_desc
		font-size: 16px

@media only screen and (max-width: 991px) 
	/*Кнопки соц сетей вылезали на след. строку.*/
	.topmenu li 
		padding:
			right: 7px
			left: 7px
	.gammi_info 
		font-size: 13px
	.trigger_text
	    font-size: 16px
	    line-height: 20px
	    padding-left: 10px
	    padding-right: 10px


@media only screen and (max-width: 760px)
	.gammi_info 
		font-size: 12px
	.callbutton
		display: none
	.top_phone
		margin-top: 20px


@media only screen and (max-width: 720px)
	.top_phone
		margin-top: 0px
	.gammi_info
		margin-top: 5px

@media only screen and (max-width: 562px)
	.sect_rope-park_inner
		padding-bottom: 50px


@media only screen and (min-width: 720px) and (max-width: 750px)
	.top_icons
		display: none
