.fa-tripadvisor:before {
    content: "\f262";
}

.text-nowrap {
    white-space: nowrap;
}

.promo_slide_caption_title {
    font-size: 36px;
}

.callback_form input {
    margin-top: 0;
    display: block;
    width: 100%;
    background-color: #f1f6fd;
    border: none;
    height: 55px;
    -webkit-border-radius: 27.5px;
    border-radius: 27.5px;
    padding-left: 55px;
    outline: none;
}

.callback_form div {
    margin-top: 25px;
}

.inp_email_wr,
.inp_tel_wr,
.inp_name_wr {
    position: relative;
}


.inp_email_wr:before {
    content: '';
    position: absolute;
    background: url(../img/popup_form_email_icon.png);
    width: 20px;
    height: 15px;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.inp_name_wr:before {
    content: '';
    position: absolute;
    background: url(../img/popup_form_name_icon.png);
    width: 17px;
    height: 20px;
    top: 18px;
    left: 20px;
    z-index: 2;
}

.inp_tel_wr:before {
    content: '';
    position: absolute;
    background: url(../img/popup_form_tel_icon.png);
    width: 17px;
    height: 20px;
    top: 18px;
    left: 20px;
    z-index: 2;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/loader.gif);
    -webkit-background-size: 120px 120px;
    background-size: 120px;
}

.tl_blue {
    height: 44px;
    width: 100%;
    color: #fff;
    line-height: 43px;
    font-size: 14px;
}

.topline {
    position: fixed;
    width: 1810px;
    z-index: 100;
}

.top_town {
    width: 16.66666667%;
    min-width: 165px;
    float: left;
    padding-left: 15px;
}

.top_town span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.top_town select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background: url(../img/select_arrow.png) no-repeat;
    background-position: center right;
    border: none;
    outline: none;
    padding-right: 10px;
    padding-left: 5px;
}

.top_town option {
    color: #000;
}

.change_town {
    display: inline-block;
    width: 55px;
    float: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 5;
    margin-left: 5px;
}

.change_town li {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px;
}

.change_town:hover {
    cursor: grabbing;
}

.change_town li a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.change_town li a:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 3px;
    background: url(../img/topmenu_arr.png);
    right: -10px;
    top: 7px;
}

.change_town li a:only-child:after {
    content: "";
}

.change_town li:hover>ul {
    display: inherit;
    padding-left: 0;
    min-width: 130px;
}

.change_town li:hover>ul li {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.change_town li:hover>ul li a {
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    display: block;
}

.change_town ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 90px;
    z-index: 10;
}

.change_town ul li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.change_town ul li.disabled:hover,
.change_town ul li.disabled {
    background-color: transparent !important;
    cursor: default;
    opacity: 0.4;
}

.mobile_menu {
    display: none;
}

.active_btn_menu {
    left: 340px !important;
    z-index: 999;
}

.topmenu {
    width: 66.66666667%;
    float: left;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 5;
}

.topmenu li {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.topmenu li a {
    color: #fff;
    text-decoration: none;
}

.topmenu li a:after {
    content: url(../img/topmenu_arr.png);
    position: absolute;
    right: 5px;
    top: -2px;
}

.topmenu li a:only-child:after {
    content: "";
}

.topmenu li:hover>ul {
    display: inherit;
    padding-left: 0;
}

.topmenu li:hover>ul li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.topmenu li:hover>ul li a {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    display: block;
}

.topmenu ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 230px;
    z-index: 10;
}

.topmenu ul li a {
    color: rgba(255, 255, 255, 0.7);
}

.menu_mobile_btn {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    display: none;
    z-index: 100;
    text-align: center;
    padding: 5px 0;
    left: 20px;
    -webkit-transition: left .5s linear;
    transition: left .5s linear;
}

.menu_mobile_btn .fa-window-close {
    display: none;
}

.top_icons {
    float: right;
    padding-right: 15px;
}

.top_icons span {
    margin-left: 15px;
}

.top_icons a {
    color: #fff;
}

.top_icons a:hover {
    text-decoration: none;
}

.tl_white {
    height: 74px;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.tl_white:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
    background: -webkit-linear-gradient(top, #000, transparent);
    background: linear-gradient(to bottom, #000, transparent);
    opacity: 0.2;
}

.logo {
    position: absolute;
    top: 20px;
    z-index: 6;
    cursor: pointer;
}

.gammi_info {
    font-family: "Roboto", sans-serif;
    margin-top: 14px;
    margin-left: 120px;
    line-height: 22px;
    padding-left: 15px;
    border-left: 1px dashed #d3e9ee;
    color: #042a5d;
}

.top_action-to-call {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 15px;
}

.tl_white_left_block {
    width: 50%;
    float: left;
    padding-left: 15px;
}

.top_phone {
    display: inline-block;
    color: #003ca9;
    font-family: "inGlobal", sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: 15px;
}

.top_phone:before {
    content: '\f095';
    position: absolute;
    left: -20px;
    top: 6px;
    font: normal normal normal 16px/1 FontAwesome;
    background: -webkit-gradient(linear, left bottom, left top, from(#df7421), to(#f6a00f));
    background: -webkit-linear-gradient(bottom, #df7421, #f6a00f);
    background: linear-gradient(to top, #df7421, #f6a00f);
    -webkit-background-clip: text;
    color: transparent;
}

.menu_vis {
    left: 0 !important;
}

.btn_more {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}

.change_town li ul .town_active {
    background-color: #fff !important;
}

.change_town li ul .town_active a {
    color: #053269 !important;
}

.mobile_top_phone {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile_top_phone .top_phone {
    color: #fff;
}

.mobile_top_phone .top_phone:before {
    top: 12px;
}

.menu_mobile_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}

.menu_mobile_overlay_vis {
    display: block;
}



/* FOOTER */

footer .row,
footer .container {
    width: 1170px;
    padding: 0;
}

.footer_logo_wrap {
    width: 300px;
    float: left;
    padding: 0;
}

.footmenu {
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: 35px;
    padding-left: 0;
}

.footmenu li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.footmenu a {
    color: #042b62;
    line-height: 46px;
}

.buy_franchise {
    display: block;
    float: right;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    margin: 17px 0 0 0;
    border-style: solid;
    border-width: 2px;
    border-color: #ff8d00;
    background: #fff;
    width: 197px;
    height: 42px;
    color: #ff8d00;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 12px;
    line-height: 26px;
    outline: none;
}

.copy,
.ogrn,
.footlinks {
    color: #5484c0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.copy {
    float: left;
}

.ogrn,
.footlinks {
    float: right;
}



/*MOBILE*/

@media only screen and (max-width: 1810px) {

    .topline {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .footmenu {
        font-weight: 300;
        width: 300px;
        margin: 0;
        margin-top: 10px;
    }

    .footmenu li {
        font-size: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .footmenu a {
        line-height: 20px;
    }
}

@media only screen and (max-width: 991px) {

    .top_town {
        width: auto;
        min-width: 90px;
        padding-left: 0;
    }

    .topmenu {
        width: 75%;
    }

    .topmenu li {
        padding-right: 10px;
        padding-left: 10px;
    }

    .topmenu li a {
        width: 100%;
        display: block;
    }

    .topmenu li a:after {
        display: inline;
        position: static;
        content: ':';
        padding-left: 5px;
    }

    .top_icons {
        padding-right: 0;
    }

    .top_action-to-call {
        padding-right: 0;
    }

    .tl_white_left_block {
        padding-left: 0;
    }

    .footmenu {
        width: 262px;
    }

    .footer_logo_wrap {
        width: 290px;
    }

    .footer_logo_wrap .gammi_info {
        margin-left: 130px;
        padding-left: 10px;
    }

    .footmenu li {
        margin-left: 8px;
        margin-right: 8px;
    }

    .promo-subscription__details-item {
    margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .topmenu {
        font-size: 12px;
        width: 75%;
    }

    .footmenu {
        display: none;
    }

    footer .row {
        margin: 0;
    }
}

@media only screen and (max-width: 719px) {

    .topmenu {
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        overflow-x: hidden;
    }

    .top_town {
        display: none;
    }

    .top_icons {
        width: 100%;
        text-align: center;
    }

    .top_action-to-call {
        display: none;
    }

    .tl_white {
        display: table;
        padding: 15px 0;
        height: auto;
    }

    .tl_white_left_block {
        display: table;
        width: 100%;
        box-sizing: border-box;
        float: none;
    }

    .menu_mobile_btn {
        display: block;
    }
    .menu_mobile_btn .fa-window-close {
        display: none;
    }

    .logo {
        display: inline-block;
        position: static;
        float: left;
        margin: 0 0 0 90px;
    }

    .gammi_info {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0px 15px 0px 0px;
    }

    .topmenu {
        display: none;
    }

    .mobile_menu {
        display: block;
        text-align: center;
        position: fixed;
        left: -320px;
        top: 0;
        height: 100%;
        width: 320px;
        z-index: 1000;
        -webkit-transition: left .5s linear;
        transition: left .5 linear 0s;
        overflow-x: hidden;
    }

    .mobile_menu .topmenu {
        width: 100%;
        display: block;
        position: relative;
        margin: 36px 0 48px;
    }

    .mobile_menu .topmenu li {
        display: block;
        font-size: 18px;
        line-height: 44px;
        text-align: center;
        background: transparent;
        padding: 0;
    }

    .mobile_menu .topmenu li:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .mobile_menu .topmenu li>ul {
        position: relative;
        display: block;
        top: 0;
        width: 100%;
        padding: 0;
        margin-bottom: 12px;
    }

    .mobile_menu .topmenu li>ul li {
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    }

    .mobile_menu .callbutton {
        display: inline;
        margin: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 10px;
    }

    .mobile_menu .top_phone {
        color: #fff;
        margin-right: 0;
        display: block;
    }

    .mobile_menu .top_phone:before {
        top: 12px;
    }

    .top_town {
        display: block;
        position: absolute;
        width: 130px;
    }

    .top_town span {
        display: none;
    }

    .top_town .change_town {
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .top_town .change_town li {
        padding: 0;
        width: 100%;
    }

    .top_town .change_town li a {
        color: #fff;
        text-decoration: none;
    }

    .top_town .change_town li a:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 3px;
        background: url(../img/topmenu_arr.png);
        right: -10px;
        top: 7px;
    }

    .top_town .change_town li a:only-child:after {
        content: "";
    }

    .top_town .change_town ul {
        width: 100%;
        z-index: 102;
    }

    .menu_vis {
        left: 0 !important;
    }

    .mobile_top_phone {
        display: block;
    }
}

@media only screen and (max-width: 420px) {

    .tl_white_left_block {
        margin-left: 70px;
    }

    .gammi_info {
        margin-left: 110px;
        padding-left: 5px;
        font-size: 13px;
    }
}



/*UI_violet*/

.ui_viol {
    background-color: #251c40;
}

.ui_viol .top_town span,
.ui_viol .top_icons a:hover {
    color: #655c80;
}

.ui_viol .change_town li:hover,
.ui_viol .change_town li:hover>ul,
.ui_viol .topmenu li:hover,
.ui_viol .topmenu li:hover>ul {
    background-color: #453c60;
}

.ui_viol .change_town ul li:hover,
.ui_viol .topmenu ul li:hover {
    background-color: #251c40;
}

.ui_viol .gammi_info {
    border-left: 1px dashed #655c80;
}



/*UI_blue*/

.ui_blue {
    background-color: #025;
}

.ui_blue .top_town span,
.ui_blue .top_icons a:hover {
    color: #59f;
}

.ui_blue .change_town li:hover,
.ui_blue .change_town li:hover>ul,
.ui_blue .topmenu li:hover,
.ui_blue .topmenu li:hover>ul {
    background-color: #047;
}

.ui_blue .change_town ul li:hover,
.ui_blue .topmenu ul li:hover {
    background-color: #025;
}

.ui_blue .gammi_info {
    border-left: 1px dashed #59f;
}



/*UI_green_dark*/

.ui_greend {
    background-color: #253;
}

.ui_greend .top_town span,
.ui_greend .top_icons a:hover {
    color: #7a9;
}

.ui_greend .change_town li:hover,
.ui_greend .change_town li:hover>ul,
.ui_greend .topmenu li:hover,
.ui_greend .topmenu li:hover>ul {
    background-color: #075;
}

.ui_greend .change_town ul li:hover,
.ui_greend .topmenu ul li:hover {
    background-color: #253;
}

.ui_greend .gammi_info {
    border-left: 1px dashed #7a9;
}



/*UI_green_light*/

.ui_greenl {
    background-color: #260;
}

.ui_greenl .top_town span,
.ui_greenl .top_icons a:hover {
    color: #8b5;
}

.ui_greenl .change_town li:hover,
.ui_greenl .change_town li:hover>ul,
.ui_greenl .topmenu li:hover,
.ui_greenl .topmenu li:hover>ul {
    background-color: #250;
}

.ui_greenl .change_town ul li:hover,
.ui_greenl .topmenu ul li:hover {
    background-color: #260;
}

.ui_greenl .gammi_info {
    border-left: 1px dashed #8b5;
}



/*UI_green_darkgray*/

.ui_gray {
    background-color: #333;
}

.ui_gray .top_town span,
.ui_gray .top_icons a:hover {
    color: #ccc;
}

.ui_gray .change_town li:hover,
.ui_gray .change_town li:hover>ul,
.ui_gray .topmenu li:hover,
.ui_gray .topmenu li:hover>ul {
    background-color: #444;
}

.ui_gray .change_town ul li:hover,
.ui_gray .topmenu ul li:hover {
    background-color: #333;
}

.ui_gray .gammi_info {
    border-left: 1px dashed #ccc;
}




/*Фикс длинных названий в меню шапки. Не влазили*/

.topmenu li a {
    white-space: nowrap;
}

.topmenu ul {
    width: auto;
}



/*Выход кнопки за блок */

.direction {
    height: auto;
    min-height: 269px;
}

.direction_price {
    margin-bottom: 11px;
    margin-top: 11px;
}

.btn_more {
    margin-top: 0px;
}



/*Создание перехода между секциями*/

.sect_rope-park_inner {
    padding-bottom: 150px;
}

.sect_rope-park {
    background: url(../img/sect_rope-park_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.top_action-to-call {
    vertical-align: middle;
}

@media only screen and (max-width: 1200px) {
    footer .logo {
        position: absolute;
        top: 15px;
        left: 3px;
        margin: 0px;
    }
    footer .top_action-to-call {
        position: absolute;
        top: 5px;
        right: 30px;
        margin: 0px;
        padding: 0px;
    }
}

.tl_white {
    border-top: 1px solid #e3e3e3;
}

@media only screen and (max-width: 1200px) {
    .promo_slide_caption_desc {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    /*Кнопки соц сетей вылезали на след. строку.*/
    .topmenu li {
        padding-right: 7px;
        padding-left: 7px;
    }
    .gammi_info {
        font-size: 13px;
    }
    .trigger_text {
        font-size: 16px;
        line-height: 20px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 760px) {
    .gammi_info {
        font-size: 12px;
    }
    .callbutton {
        display: none;
    }
    .top_phone {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 720px) {
    .top_phone {
        margin-top: 0px;
    }
    .gammi_info {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 660px) {
    .foot_policy {
        margin-right: 70px;
    }
}

@media only screen and (max-width: 562px) {
    .trigger_text {
        font-size: 14px;
    }
    .sect_rope-park_inner {
        padding-bottom: 50px;
    }
    .foot_policy {
        margin-right: 150px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 750px) {
    .top_icons {
        display: none;
    }
}


@media only screen and (max-width: 959px) {
   .park_slider img {
        max-width: 150%;
        display: block;
        margin-left: auto;
                margin-right: auto;
    }
}