/* Обнуление */

input:focus {outline: none;}
textarea:focus {outline: none;}
html ::selection {background: #08c;color: #fff;}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: block;
  margin: 0;
  height: 100%;}

body {
  font-family: "inGlobal", sans-serif;
  background-image: url(/park/thanks/img//body_bg.jpg);
}

.container-outer {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.tnx-page {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 100px;
}

.tnx-page h1 {
  font-size: 64px;
  text-align: center;
  line-height: 72px;
  color: #333;
  font-family: "MuseoMedium", sans-serif;
  font-weight: 500;
  margin: 40px 0 10px 0;
  padding: 0;}

.tnx-image {width: 240px; }

.tnx_desc {
  margin-bottom: 40px;
  color: #047;
  font-size: 24px;
  font-family: "MuseoMedium", sans-serif; }

.colored_btn {
  display: inline-block;
  background: -webkit-linear-gradient(111deg, #ff6f04 0%, #ffa001 99%);
  background: -ms-linear-gradient(111deg, #ff6f04 0%, #ffa001 99%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(255, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(255, 54, 0, 0.004);
          box-shadow: 0px 2px 2px 0px rgba(255, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(255, 54, 0, 0.004);
  border: none;
  border-bottom: 2px solid #ff3600;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  outline: none;
  font-size: 16px;
  padding: 6px 30px;
  color: #f7f7f7;
  font-weight: bold;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(187, 40, 0, 0.5); }

.colored_btn:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(111deg, #fd4817 0%, #fe691c 99%);
  background: -ms-linear-gradient(111deg, #fd4817 0%, #fe691c 99%); }

@media only screen and (max-width: 992px) {
  .tnx-page h1 {
    font-size: 48px;
    line-height: 56px;
} }

@media only screen and (max-width: 580px) {
  .tnx-page h1 {
    font-size: 32px;
    line-height: 40px;
} }