/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
 .owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    transition: all 0.5s ease;
  }

    .owl-theme .owl-nav .owl-prev{
      top: 40%;
      left: 0;
      width: 59px;
      height: 57px;
      background: url(/libs/owl.carousel/assets/slider_arr_left.png);
    }
    .owl-theme .owl-nav .owl-prev:hover{
      background: url(/libs/owl.carousel/assets/slider_arr_left_hover.png);
    }
    .owl-theme .owl-nav .owl-prev:active{
      background: url(/libs/owl.carousel/assets/slider_arr_left_onclick.png);
    }
    .owl-theme .owl-nav .owl-next{
      top: 40%;
      right: 0;
      width: 59px;
      height: 57px;
      background: url(/libs/owl.carousel/assets/slider_arr_right.png);
    }

    .owl-theme .owl-nav .owl-next:hover{
      background: url(/libs/owl.carousel/assets/slider_arr_right_hover.png);
    }
    .owl-theme .owl-nav .owl-next:active{
      background: url(/libs/owl.carousel/assets/slider_arr_right_onclick.png);
    }
    .owl-theme .owl-nav [class*='owl-']:hover {

      text-decoration: none; }
      .owl-theme .owl-nav .disabled {
        opacity: 0.5;
        cursor: default; }

        .owl-theme .owl-nav.disabled + .owl-dots {
          margin-top: 10px; }

          .owl-theme .owl-dots {
            text-align: center;
            -webkit-tap-highlight-color: transparent; }
            .owl-theme .owl-dots .owl-dot {
              display: inline-block;
              zoom: 1;
              *display: inline; 
              width: 17px;
              height: 17px;
              border-radius: 50%;

              background: url(/libs/owl.carousel/assets/slider_dot.png);
              margin: 2px ;
            }


          }
          .owl-theme .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px; }
            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
              background: #869791; }

              .owl-theme .owl-dots .owl-dot.active{
                width: 17px;
                height: 17px;
                margin-top: 4px;
                background: url(/libs/owl.carousel/assets/slider_dot_active.png);
              }
